.dark{
    --background: #0a0a0a;
}
.light{
    --background: white;
}

body,html{
    font-size: 20px;
    background-color: var(--background);	
    color: white;
    margin: 0;
}

.backImage{
	width: 80%;
    transform: translate(20%, 40%);
}

.backgroundBlur{
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(100px);
}

.background{
	width: 40%;
    height: 30%;
    transform: translate(40%, 90%);
    background: #00fffff7;
}

.background2{
	width: 40%;
    height: 30%;
    transform: translate(115%, 90%);
	background: #ff0000c7;
}

.navbar{
    display: flex;
    height: 3rem;
    border: 1px solid red;
    align-items: center;
}

.navbar .navMenu{
    z-index: 6;
}

.navbar .logo{
    flex: 30%
}

.navbar .user{
    text-align: right;
}
.menu{
    position: absolute;
    padding: 3rem 5rem 3rem;
    top: 0;
    background-image: linear-gradient(to right,brown,#0A0A0a);
    z-index: 5;
    height: 100%;
    box-sizing: border-box;
}
.menuItem{
    margin-top: 0.5rem;
    display: block;
}