@font-face {
	font-family: 'cryptemogi_font';
	src: url('Segoe UI Bold.ttf');
}

.dark{
    --background: #2d2d2d;
	--textColor: white;
	--moon: #828282;
	--moonHover: #00ffaf;
	--moonShadow: none;
}
.light{
    --background: white;
	--textColor: black;
	--moon: #707070;
	--moonHover: black;
	--moonShadow: 0 0 5px purple;
}

body,html{
    font-size: 20px;
    /*background-color: var(--background);*/
    /*color: var(--textColor);*/
    margin: 0;
	height: 100%;
	background-image: url("background_1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'cryptemogi_font';
}

a{
	outline: none;
	text-decoration: none;
	color: inherit;
}

.all{
	position: relative;
	z-index: 10;
	height: inherit;
}

.navbar{
	display: flex;
	height: 7vw;
	align-items: center;
	justify-content: space-between;
	margin: 0 3%;
	font-size: 100%;
}

.navbar .navMenu{
    z-index: 6;
}

.navbar .logo{
	flex: 0 0 25%;
	height: inherit;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img{
	max-width: 100%;
}

.navbar .user{
	flex: 0 0 25%;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wallet{
	border: 1px solid #a289d6;
    padding: 5px 10px;
    border-radius: 10px;
	background: #523986;
	cursor: pointer;
}

.moon{
	cursor: pointer;
	margin-right: 20px;
	color: var(--moon);
}
.moon:hover{
	color: var(--moonHover);
	text-shadow: var(--moonShadow);
}

.moon i{
	vertical-align: text-bottom;
}

.menu{
	flex: 0 0 25%;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItem{
    margin-top: 0.5rem;
    display: block;
}

img.emogi{
	animation-name: flip;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}